body{
    margin: 0;
}

.App{
    background: linear-gradient(#d2e4fa,#83b1c0);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color:#83b1c0 ;
    height: 100vh;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 5vh 0;
    border-radius: 10px;

}

.info-city{
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    filter: drop-shadow(16px 7px 8px #b9cce4 );
    position: relative;
    
}
.info-city::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: linear-gradient(#d2e4fa,#83b1c0);
    bottom: 220px;
    margin: 0 100px;

}

.info-img{
    width: 200px;
    height:200px;
    padding: 0 50px;
    filter: drop-shadow(16px 7px 8px #b9cce4 );
}

input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    display: block;
    padding-bottom: 4px;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right:20px;
    size: 20px;
    outline: none;
    border-radius: 20px;
    padding: 5px;
}

button{
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 15px;
    font-weight: lighter;
    size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 100;
    background-color: #fff;
    color: #000; ;
}

button:active{
    outline: none;
}

.info{
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

.info-key{
    color: #fff;
    font-weight: 400;
    border-bottom: 2px solid rgba(255, 255, 255,0.06);
}

.info-key:last-child{
    border: 0;
}

.info-value{
    font-weight: 200;
    color: #fff;
}

